@charset "utf-8";
/* CSS Document */




body
{
	font: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0 0;
	background-repeat: repeat;
	background-image: url(blossomPattern4.jpg);
}

#wrapper
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	min-width: 1301px;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
	position: aboslute;
	background: #FFF;
	display: block;

background-image: -webkit-linear-gradient(270deg,rgba(245,159,183,1.00) 19.17%,rgba(255,255,85,1.00) 100%,rgba(192,87,89,1.00) 100%);
background-image: -moz-linear-gradient(270deg,rgba(245,159,183,1.00) 19.17%,rgba(255,255,85,1.00) 100%,rgba(192,87,89,1.00) 100%);
background-image: -o-linear-gradient(270deg,rgba(245,159,183,1.00) 19.17%,rgba(255,255,85,1.00) 100%,rgba(192,87,89,1.00) 100%);
background-image: linear-gradient(180deg,rgba(245,159,183,1.00) 19.17%,rgba(255,255,85,1.00) 100%,rgba(192,87,89,1.00) 100%);

}

#home{
	position: relative;
	top: 0.5em;
}

#wrapper #topBox #top {
	margin: 0%;
	padding: 0%;
	width: 100%;
	height: 10%;
	border: 0%;
}

#wrapper #topBox #yellowBar {

		margin-top: -6px;
		padding: 0px;
		width: 100%;
		border: 0px;
		float: left;
		background-color: #fff006;


}

#wrapper #mainnav ul
{
	padding: 0em;
	margin: 0em;
	width: 100%;
}



#wrapper #mainnav ul li
{
	list-style-type: none;
	width: 100%;
}

#wrapper #mainnav ul li a
{
	float: left;
	color: #000;
	font-family: Corbel;
	font-size: 115%;
	text-decoration: none;
	text-align: center;
	width: 14%;
	height: 1.87em;
	padding-top: 0.5em;
	padding-bottom: 1em;
	padding-right: 0.1em;
	padding-left: 0.1em;
	margin: 0;
}

#wrapper #intro {
	font-size: 120%;
	padding-right: 8%;
	padding-left: 8%;
	padding-top: 60px;
	margin: 0px;
	text-align: justify;
	display: block;
	font-family: "Tahoma";
}

#note {
	font-size: 100%;
	padding-right: 8%;
	padding-left: 8%;
	padding-top: 6%;
	padding-bottom: 2%;
	margin: 0px;
	text-align: justify;
	font-family: "Tahoma";

}



#wrapper #secondaryNav ul li
{

	list-style-type: none;
	width: 50%;
	margin-left: 24%;

}

#wrapper #secondaryNav ul li a {
	float: left;
	color: #000;
	font-family:"Corbel";
	font-size: 0.92em;
	text-decoration: none;
	text-align: center;
	width: 33.33%
}
#wrapper #footnote{

	padding-top: 30px;
	padding-bottom: 20px;
	position: relative;
	bottom: 20px;
	display:block;
	}


#wrapper .topRow {
	height: 235px;
	margin-top: 3em;
}

#wrapper .bottomRow {
	height: 235px;
	margin-top:3.5em;

}

/* .spacearound {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding-left: 5.5%;
	padding-right: 5.5%;
} */



#wrapper .left {
	width: 25%;
	height: 100%;
	float: left;
	padding-left: 8%;
	}

#wrapper .left .leftpic {
	width: 100%;
	height: 100%;
	border: thick solid #603913;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;

	}

#wrapper .middle{
	width: 25%;
	height: 100%;
	float: left;
	padding-left: 4.5%;
	padding-right: 4.5%;
		}

#wrapper .middle .middlepic {
	width: 100%;
	height: 100%;
	border: thick solid #603913;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;

	}

#wrapper .right{
	width: 25%;
	height: 100%;
	float: right;
	padding-right: 8%;

}

#wrapper .right .rightpic {
	width: 100%;
	height: 100%;
	border: thick solid #603913;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;


	}

.subtitle{
	text-align: center;
	top: 7px;
	position: relative;

}

.subtitleLink{
	font-family: Arial;
	font-size: 1.02em;
	color: #000;
	text-decoration: none;
	text-transform: none;

	}

#yellowBar ul li a:hover{
	background-color: #fff39a;
}

a:hover{
	font-weight: normal;
	font-size: 1.2em;

}

.here{
	background-color: #fff39a;
}

#footnote ul li a:hover
{
	font-weight: bold;
}


a:hover{
	font-weight: normal;
	font-size: 1.2em;
}



#wrapper .middle .middlepic:hover {
	transform: scale(1.08);
	border-color: #753170;
	margin-bottom: 10px;
	-webkit-transform: scale(1.08);
	-moz-transform: scale(1.08);
	-ms-transform: scale(1.08);
	-o-transform: scale(1.08);
		-webkit-transition: all 0.2s ease-in 0s;
	-moz-transition: all 0.2s ease-in 0s;
	-ms-transition: all 0.2s ease-in 0s;
	-o-transition: all 0.2s ease-in 0s;
	transition: all 0.2s ease-in 0s;
}

#wrapper .right .rightpic:hover {
	transform: scale(1.08);
	border-color: #753170;
	margin-bottom: 10px;
	-webkit-transform: scale(1.08);
	-moz-transform: scale(1.08);
	-ms-transform: scale(1.08);
	-o-transform: scale(1.08);
		-webkit-transition: all 0.2s ease-in 0s;
	-moz-transition: all 0.2s ease-in 0s;
	-ms-transition: all 0.2s ease-in 0s;
	-o-transition: all 0.2s ease-in 0s;
	transition: all 0.2s ease-in 0s;
}

#wrapper .left .leftpic:hover {
	transform: scale(1.08);
	border-color: #753170;
	margin-bottom: 10px;
	-webkit-transform: scale(1.08);
	-moz-transform: scale(1.08);
	-ms-transform: scale(1.08);
	-o-transform: scale(1.08);
		-webkit-transition: all 0.2s ease-in 0s;
	-moz-transition: all 0.2s ease-in 0s;
	-ms-transition: all 0.2s ease-in 0s;
	-o-transition: all 0.2s ease-in 0s;
	transition: all 0.2s ease-in 0s;
}
